html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-rows: : 1fr 1fr;
  grid-template-columns: : 1fr 1fr;
  grid-template-areas:
    "header header"
    "header header"
    "main main";
  margin: 0;
  gap: 1rem;
  padding: 1rem;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 1rem 2rem 0 0;
}

ul li a {
  color: #fff;
}

header h1{
  grid-area: header;
  grid-row: 2;
  grid-column: 1;
  margin: 8rem 0 0 1;
  align-items: baseline;
  width: 14rem;
}

header img{
 grid-area: header;
 grid-column: 1/3;
 grid-row: 1/3;
}

nav{
  grid-area: header;
  grid-column: 2;
  grid-row: 1;
  font-family: "Patua one", sans-serif;
  font-size: 2rem;
  justify-content: space-between;
  z-index: 1;
}

main{
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 1fr;
  z-index: 4;
  gap: 1rem;
}

figure {
 margin: 0;
}

h2{
  color: #30658d;
  font-family: "Patua one", cursive;
  margin: 1rem 0 0;
}

p{
  margin: 0;
}
